
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


.idea/
*.sln.iml


.vscode/

project.lock.json
project.fragment.lock.json
artifacts/

*.nupkg
*.snupkg
packages/
.nuget/


*.db
*.db3
*.sqlite
*.sqlite3

*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal


.DS_Store
Thumbs.db


publish/
*.Publish.xml
